main {
    margin-left: auto;
    margin-right: auto;
    grid-area: main;
    width: 900px;
    transition: opacity 0.2s cubic-bezier(0, 1.2, 1, .92);
    min-height: 190px;
}
.button-shipping {
    background-color: #0077ed;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    min-width: 28px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    display: block;
    padding: 8px 16px;
    margin-top: 40px;
    text-decoration: none;
}
.button-shipping:hover {
    background-color: #0071E3;
}
.bag-item {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.column {
    box-sizing: border-box;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
    min-width: 0;
    flex-basis: 75%;
}
.image {
    max-width: 203px;
    max-height: 203px;
}
.image-wrapper {
    flex-basis: 25%;
    text-align: center;
}
.details {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 24px;
    font-weight: 500;
}
.product-name {
    flex-basis: 50%;
    max-width: 50%;
}
.price {
    width: 36%;
    text-align: right;
    transition: opacity 0.2s cubic-bezier(0, 1.2, 1, .92);
}
.quantity {
    width: 14%;
    border-radius: 12px;
}
.remove {
    flex-grow: 1;
    text-align: left;
    margin-top: 0;
}
.remove-text {
    font-size: 16px;
    color: #0077ED;
    cursor: pointer;
    float: right;
}
.remove-text:hover {
    text-decoration: underline;
}
.quantity-element {
    width: 4rem;
    background-color: transparent;
    border: 0;
    appearance: none;
    font-size: 24px;
    box-sizing: border-box;
    overflow: hidden;
}
.actions {
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
}
#bag-item-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
#bag-item-list li {
    border-top: 1px solid #d2d2d7;
}
.bag-header {
    margin-bottom: 40px;
}
.quantity-icon {
    background: url("../../assets/images/icons/expand-blue.svg");
    width: 30px;
    height: 30px;
    mask-size: cover;
    display: inline-block;
    position: relative;
    background-size: 30px 30px;
    left: -30px;
    top: 10px;
    z-index: -1;
}
.summary {
    margin-top: 30px;
    border-top: 1px solid #d2d2d7;
}
.summary-content-wrapper {
    margin-left: 225px;
}
.summary-text {
    flex-basis: 100%;
    transition: opacity 0.2s cubic-bezier(0, 1.2, 1, .92);
}
.summary-value {
    display: flex;
    margin-bottom: 5px;
}
.summary-shipping {
    display: flex;
}
.summary-total {
    display: flex;
    margin-top: 15px;
    border-top: 1px solid #d2d2d7;
    font-size: 24px;
    font-weight: 500;
}
.summary-total-text {
    flex-basis: 100%;
}
.summary-discount-message {
    text-align: right;
    font-size: 14px;
}
#button-shipping-bottom {
    float: right;
    width: 50%;
    min-width: 200px;
    max-width: 337px;
}
#button-zipcode {
    font-size: 14px;
    color: #0077ED;
    cursor: pointer;
    margin-top: 10px;
    height: 28px;
}
#button-zipcode:hover {
    text-decoration: underline;
}
.summary-shipping-type {
    display: flex;
}
.button-zipcode.hide {
    display: none;
}
.zipcode-input {
    display: block;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px 8px;
    padding-right: 3px;
    letter-spacing: -.022em;
    font-size: 16px;
    width: 90%;
    height: 1em;
    float: right;
}
.total {
    transition: opacity 0.2s cubic-bezier(0, 1.2, 1, .92);
}
#summary-shipping-total {
    transition: opacity 0.2s cubic-bezier(0, 1.2, 1, .92);
}
